@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
}

body{
	background:#000;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	color:#FFF;
	font-size:14px;
	text-align:left;
}

h1{
	margin:0;
	padding:0;
}

#content{
	margin:20px;
	margin-top:20px;
}
button {
	font-family: 'Open Sans', sans-serif;
	background: #008AE6;
	border: 0;
	color:#ffffff;
	font-size:1.1em;
	padding:6px 30px;
	margin-top:4px;
	font-size:18px;
}
  
button:hover {
	background:#006BB3;
}

p{
	font-size:13px;
}

kbd{
	padding: .1em .6em;
    border: 1px solid #ccc;
    font-size: 12px;
    font-family: Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
    color: #333;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #FFFFFF inset;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #FFFFFF inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #FFFFFF inset;
    display: inline-block;
    margin: 0 .1em;
    text-shadow: 0 1px 0 #fff;
    line-height: 1.4;
    white-space: nowrap;
	text-transform:uppercase;
}

table{
	margin-top:10px;
}

hr{
	margin-top:20px;
}

a{
	color:white;
	text-decoration:underline;
}